:root {
  --clr-body-bg: #f1f1f1;
  --clr-input-bg-gray: #e6e6e6;
  --clr-input-border: #d8d8d8;
  --clr-accent-blue: #3388e2;

  --pd-content-inline: clamp(1em, 1.5vw, 2em);
}

* {
  box-sizing: border-box;
  list-style-type: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--clr-body-bg);
}

.app-container {
  min-height: 100dvh;
  display: grid;
  grid-template-columns:
<<<<<<< HEAD
    [layout-start] 1fr [content-start] min(100%, 800px)
=======
    [layout-start] 1fr [content-start] min(100%, 900px)
>>>>>>> 959160a2a9178eb9bdac3730c5d13f3e969a0236
    [content-end] 1fr [layout-end];
  grid-template-rows: auto 1fr;
  overflow: hidden;
}
.content-container {
  grid-column: content;
}
.layout-container {
  grid-column: layout;
}

img {
  max-width: 100%;
}

input,
button {
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1rem;
}
button {
  cursor: pointer;
  padding: 0.5em;
}
li a {
  text-decoration: none;
  color: black;
}

.loader-container {
  display: grid;
  place-items: center;
  min-height: 90px;
}
<<<<<<< HEAD

.searched-posts-wrapper {
  background-color: white;
  border-radius: 10px;
  margin-block: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searched-posts-wrapper h2 {
  text-align: center;
}
.searched-posts-container {
  flex-grow: 1;
  display: grid;
  justify-content: center;
  gap: 1.7em;
  max-width: 600px;
  margin: 0 auto;
}
=======
>>>>>>> 959160a2a9178eb9bdac3730c5d13f3e969a0236
